<div class="col">
    <h1 class="text-center m-5">
        About us !
    </h1>
    <p class="text-center w-75 m-auto">
        Welcome to Dripper, your ultimate destination for free drip coffee recipes! At Dripper, we’re passionate about helping coffee lovers craft the perfect cup of drip coffee from the comfort of their own home. Whether you’re a seasoned coffee connoisseur or just starting your brewing journey, our curated recipes cater to all taste profiles—from bold and robust to smooth and mellow. Explore our step-by-step guides, brewing techniques, and tips to customize your coffee exactly the way you love it. At Dripper, we believe every great day starts with a great cup of coffee one drip at a time!
    </p>
</div>