<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/barista.jpg" class="d-block mx-lg-auto img-fluid" loading="lazy" width="607" alt="" style="border-radius: 12px;">
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-6 mb-3">Huge selection of coffee recipes <br/> <b>Try it !</b> </h1>
        <p class="lead">
            Explore our Huge selection of coffee recipes to get your taste...
        </p>
        
        <div class="d-grid gap2 d-md-flex justify-content-center-md-start">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
            <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show random</a>
        </div>
    </div>
</div>



<div class="my-5">
    <div class="col">
        <div class="title text-center mb-5">
            <h1>Discover our category</h1>
        </div>
        <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 justify-content-around">
            <a href="#" class="col text-cetner category_link">
                <div class="categroy_img shadow">
                    <img src="img/fruity_pattren.avif" width="240px"  alt="">
                </div>
                <div class="pt-1 categroy_title link-secondary text-center">fruity</div>
            </a>
            <a href="#" class="col text-cetner category_link">
                <div class="categroy_img shadow">
                    <img src="img/chocolate_pattren.avif" width="240px" alt="">
                </div>
                <div class="pt-1 categroy_title link-secondary text-center">classic</div>
            </a>
            <a href="#" class="col text-cetner category_link">
                <div class="categroy_img shadow">
                    <img src="img/lemon_pattren.webp" width="230px" alt="">
                </div>
                <div class="pt-1 link-secondary categroy_title text-center">soury</div>
            </a>
        </div>
    </div>
</div>