<div class="container text-center">
    <h1>
        uh no!
    </h1>
    <img src="/img/404.png" width="480px" alt="">
    <h1>page not found</h1>
    <p>
        you can explore our website in below link
    </p>
    <a href="/" class="btn btn-primary btn-dark btn px-4 me-md-2">let go to discover !</a>
</div>