<div class="container text-center">
    <h1>
        uh no!
    </h1>
    <img src="/img/404.png" width="480px" alt="">
    <h1>you must to login  To benefit from our site</h1>
    <p>
        you can login in below link
    </p>
    <a href="/auth/google" class="btn btn-primary btn-dark btn px-4 me-md-2">login</a>
</div>